<section class="hero">
  <div class="content">
    <h1 class="typing">Hi, I’m <span class="highlight">Ali Imran</span></h1>
    <h2 class="subtitle">Full Stack Developer | Agentic AI Developer</h2>

    <p class="description">I am a Full Stack .NET Developer with professional experience in designing, developing, and maintaining enterprise web applications using C#, ASP.NET Core, .NET, Angular, SQL Server, REST APIs, microservices, and cloud-based integrations. Alongside full-stack development,
I specialize in developing AI-powered solutions, including intelligent AI agents, workflow automation, document intelligence, and Large Language Model (LLM) applications that improve operational efficiency and business decision-making.</p>
<p>
  Kuwait Contact:
  <a href="tel:+96596011586">📞 Call</a> |
  <a href="https://wa.me/96596011586" target="_blank">💬 WhatsApp</a>
  <br>
  Pakistan Contact:
  <a href="tel:+923355851267">📞 Call</a> |
  <a href="https://wa.me/923355851267" target="_blank">💬 WhatsApp</a>
</p>
<br>
    <div class="buttons">
      <a class="btn-accent" routerLink="/projects">View My Projects</a>
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/in/ali-hasnain-0092311b3" target="_blank">LinkedIn</a>
      <a href="mailto:alitaqvi505@gmail.com" target="_blank">Email Me</a>
    </div>
  </div>


</section>
